@use "./colors" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: #f3f3f3;
  font-family: 'Nunito', sans-serif;
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  height: 100%;

  @media (max-width: 760px) {
    font-size: 14px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 590px) {
    margin-left: 0;
    width: 100%;
  }

  @media (max-width: 760px) {
    margin-left: 20px;
    width: 100%;
  }
}