@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typography" as *;

.hero {
  height: 900px;
  margin: 0 40px;
  position: relative;
  overflow: hidden;

  @media (max-width: 530px) {
    padding: 65px 0;
  }

  @media (max-width: 760px) {
    padding: 90px 0;
  }

  @media (max-width: 990px) {
    padding: 100px 0;
    width: 1230px;
    height: 1600px;
    margin: 0;
    padding: 0;
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(40, 58, 94, 0.5);
    z-index: 1;

    .arrow-left {
      position: absolute;
      top: 50%;
      left: 50px;
      animation: fadeInLeft 1s ease-in-out;

      @media (max-width: 760px) {
        display: none;
      }

      i {
        color: $peach;
        font-size: 30px;
        border: 3px solid $peach;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
    @keyframes fadeInLeft {
      0% {
        transform: translateX(-20px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .arrow-right {
      position: absolute;
      top: 50%;
      right: 50px;
      animation: fadeInRight 1s ease-in-out;

      @media (max-width: 760px) {
        display: none;
      }

      i {
        color: $peach;
        font-size: 30px;
        border: 3px solid $peach;
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
        opacity: 0.7;
        position: relative;
        z-index: 10;
      }
    }
    @keyframes fadeInRight {
      0% {
        transform: translateX(20px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .container {
      height: 100%;
      display: table;

      @media (max-width: 760px) {
        padding: 0;
        margin: 0;
      }

      .row {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 900px;

        .col {
          z-index: 99;
          position: relative;

          @media (max-width: 768px) {
            height: 100%;
            top: 200px;
            text-align: center;
          }

          .title {
            overflow: hidden;
            color: white;
            font-size: $h2-size;

            @media (max-width: 768px) {
              padding-bottom: 40px;
              text-transform: uppercase;
            }

            &.fade-out {
              animation: fadeOutLeft 1.5s both;
            }

            &.fade-in {
              animation: fadeInLeft 2s both;
            }
          }

          .subtitle {
            overflow: hidden;
            color: white;
            font-size: $p-size;

            @media (max-width: 768px) {
              font-size: 50px;
            }

            &.fade-out {
              animation: fadeOutLeft 1.5s both;
            }

            &.fade-in {
              animation: fadeInLeft 2.4s both;
            }
          }

          .btns {
            overflow: hidden;
            margin-top: 25px;

            &.fade-out {
              animation: fadeOutLeft 1.5s both;
            }

            &.fade-in {
              animation: fadeInLeft 3.3s both;
            }

            .theme-btn {
              color: $pink;
              font-weight: 600;
              padding: 15px 27px;
              background: white;
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              border: 1px solid rgba(71, 62, 102, 0.3);

              @media (max-width: 768px) {
                font-size: 40px;
                margin-top: 100px;
              }

              &:hover {
                background: $pink;
                color: white;
                animation: changeColor 1s ease-in-out;
              }
            }

            @keyframes changeColor {
              0% {
                background: $peach;
                color: rgba(0, 0, 0, 0.5);
              }
              50% {
                background: $orange;
              }
              100% {
                background: $pink;
              }
            }
          }

          @keyframes fadeOutLeft {
            0% {
              opacity: 1;
              transform: translateX(0);
            }
            100% {
              opacity: 0;
              transform: translateX(-100%);
            }
          }

          @keyframes fadeInLeft {
            0% {
              opacity: 0;
              transform: translateX(-100%);
            }
            100% {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
