@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typography" as *;

.news-page {
  background-color: #f0f0f0;
  padding-top: 10px;
  padding-bottom: 50px;

  @media (max-width: 768px) {
    width: 1160px;
  }

  .container {
    width: 1170px;

    @media (max-width: 768px) {
      width: 1150px;
    }

    .news-page__content {
      margin-top: 60px;

      h2 {
        font-size: $h2-size;
        color: $blue-dark;
        margin-bottom: 50px;

        @media (max-width: 768px) {
          font-size: 80px;
        }
      }

      p {
        font-size: $span-size;
        margin-bottom: 30px;
        line-height: 50px;

        @media (max-width: 768px) {
          font-size: 50px;
          line-height: 70px;
        }
      }
    }
  }
}
