@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typography" as *;

.about {
  padding: 110px 0;

  @media (max-width: 768px) {
    width: 1170px;
  }
  .about-container {
    display: flex;
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;

    @media (max-width: 768px) {
      text-align: center;
      margin: 0;
      position: relative;
      left: 260px;
      width: 800px;
    }

    .img-container {
      position: relative;
      width: 44%;
      padding-right: 15px;
      padding-left: 50px;

      @media (max-width: 768px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    .info-container {
      width: 45%;
      position: relative;
      padding-right: 15px;
      padding-left: 15px;

      .about-text-side {
        padding-left: 80px;

        .about-title {
          text-align: left;
          margin-bottom: 35px;
          font-family: "Kalam", cursive;
          font-size: $h2-size;
          color: $blue-dark;

          h2 {
            @media (max-width: 768px) {
              font-size: 120px;
              white-space: nowrap;
              left: -120px;
              position: relative;
            }
          }
        }

        .about-text {
          padding: 10px 20px;
          margin: 0 0 20px;
          color: $blue-dark;
          border-left: 5px solid $peach;

          @media (max-width: 768px) {
            border: none;
            display: flex;
            flex-direction: row;
          }

          div {
            @media (max-width: 768px) {
              width: 800px;
            }

            span {
              display: block;
              vertical-align: inherit;
              margin-bottom: 20px;
              font-family: $text-font;
              font-size: $span-size;
              letter-spacing: 2px;
              color: $blue-light;

              @media (max-width: 768px) {
                text-align: start;
                font-size: 50px;
                margin-bottom: 90px;
                width: 1170px;
                position: relative;
                left: -380px;
              }
            }
          }
        }
      }
    }
  }

  .video-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    iframe {
      width: 1280px;
      height: 720px;
    }
  }
}
