@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typography" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 600px;
    height: 660px;
    background-color: rgba(243, 243, 243, 1);
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: relative;

    .modal-header {
      padding: 15px;

      .modal-close {
        position: absolute;
        top: 39px;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;

        .fas {
          font-size: 30px;
          color: $blue-dark;
        }
      }

      .modal-title {
        color: $blue-dark;
      }
    }

    .modal-body {
      position: relative;
      padding: 15px;
      border-top: 2px solid rgba($blue-dark, 0.5);

      .contact-form {
        .form-container {
          margin: 15px 25px;

          textarea {
            height: 100px !important;
          }

          .support-form {
            height: 55px;
            width: 100%;
            display: block;
            padding: 6px 12px;
            font-size: $p-size;
            color: $blue-dark;
            border: 1px solid #ccc;
            border-radius: 6px;
            transition: box-shadow 0.3s ease;

            &:focus {
              box-shadow: 0 0 10px $pink;
              outline: none;
            }
          }
        }

        .submit-button {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 30px 0;

          button {
            color: $pink;
            font-weight: 600;
            font-size: 14px;
            padding: 15px 27px;
            border: 0;
            text-transform: capitalize;
            display: block;
            background: white;
            display: inline-block;
            position: relative;
            overflow: hidden;
            text-decoration: none;
            border: 1px solid rgba(71, 62, 102, 0.3);
            cursor: pointer;

            &:hover {
              background: $pink;
              color: white;
              animation: changeColor 1s ease-in-out;
            }
            @keyframes changeColor {
              0% {
                background: $peach;
                color: rgba(0, 0, 0, 0.5);
              }
              50% {
                background: $orange;
              }
              100% {
                background: $pink;
              }
            }
          }
        }
      }

      .social-medias {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 60px;
        gap: 60px;

        a {
          .fa-brands {
            font-size: 50px;
          }
        }
      }
    }
  }
}
