@use "../global/boilerplate" as *;
@use "../global/colors" as *;
@use "../global/typography" as *;

.country {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 80px;
  padding-top: 23px;

  .container {
    width: 1170px;

    @media (max-width: 768px) {
      padding: 0;
      margin: 0;
    }

    .country-content {
      width: 100%;

      .country-photos__container {
        display: flex;
        width: 100%;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          margin-bottom: 30px;
          flex-direction: column;
        }

        .country-item__cont {
          width: 33.33%;
          margin-right: 15px;
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
          overflow: hidden;

          @media (max-width: 768px) {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
          }

          .country-photo__item {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      h2 {
        text-align: center;
        font-size: $h2-size;
        color: $blue-dark;
        margin-bottom: 30px;

        @media (max-width: 768px) {
          font-size: 80px;
          margin-bottom: 10px;   
        }
      }

      p {
        font-family: $text-font;
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 15px;

        @media (max-width: 768px) {
          padding: 0 50px;   
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
